/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Rubik+Glitch&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.container-fluid .baslik {
    font-family: 'Lavishly Yours', cursive;
    font-family: 'Rubik Glitch', cursive;
    color: #E5890A;
    float: left;
}

.navbar-custom {
    background-color: #21325E;
}


#navbarLeftAlignExample {
    color: blueviolet;
}

.navbar-custom .navbar-nav .nav-link {
    color: beige;
}

.navbar-nav {
    font-size: 16px;
}


.navbar-brand img {
    width: 5rem !important;
}

.icon {
    color: gold;
    margin-bottom: 1rem;
}

    .icon:hover {
        color: darkgray;
    }

.navbar-nav .btn {
    font-size: 12px;
}

    .navbar-nav .btn:hover {
        background-color: #FFF56D;
    }
